<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2 class="text-center title mb-3" > Categorias </h3>
       <div class="cat text-center">
        <button class="btn btn-primary m-4">PCs Armadas</li>
        <button class="btn btn-primary m-4">PCs Outlet</li>
        <button class="btn btn-primary m-4">Perifericos</li>
        <button class="btn btn-primary m-4">Monitores</li>
        </div>  
</body>
</html>