<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="backend/css/estilos.css">
    <script src="frontend/assets/js/categorias.js"></script>
    <script src="frontend/assets/js/agregar-categoria.js"></script>
    <script src="frontend/assets/js/agregar-producto.js"></script>
    <script src="frontend/assets/js/cargar-tabla.js"></script>


</head>

<body>

    <div class="text-center ">
        <img src="http://localhost/API1-bien/frontend/assets/img/minitecnologia.png" alt="" height="100px" width="500px" class="img-fluid text-center">
        </div>

    <div class="tablas_cont" id="cont-tablas" style="display: flex; margin: 50px;">


      <table class="mi-tabla" id="tabla">
        <thead >
         <tr id="tabla-cat">

         </tr>
        </thead>
        <tbody id="tabla-prod">
         
        </tbody>
      </table>

 
    </div>
   

</body>

</html>